*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

p {
  margin: 0;
  line-height: 1.5rem;
  color: hsl(212, 23%, 69%);
}

body {
  font-family: Manrope;
  color: hsl(217, 19%, 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 100vh;
}

.container {
  position: absolute;
  overflow: hidden;
  display: flex;
  width: 950px;
  height: 360px;
  background-color: white;
  border-radius: 10px;
}

.img-box {
  height: 100%;
  width: 100%;
  background-image: url(./images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-box {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personal-info {
  display: flex;
  justify-content: space-between;
}

.personal-info > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.name-date {
  margin-right: 180px;
}

.name-date > :nth-child(1) {
  font-weight: 600;
  color: hsl(214, 17%, 51%);
}
.share-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 50%;
}

.share-icon:hover {
  color: aliceblue;
  background-color: hsl(214, 17%, 51%);
  cursor: pointer;
}

.share-icon:hover > img {
  filter: brightness(3);
}
.share-box {
  display: none;
}

.share-show {
  width: 250px;
  position: relative;
  top: 40px;
  left: 415px;
}
.share-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  height: 56px;
  width: 250px;
  border-radius: 10px;
  background-color: hsl(217, 19%, 35%);
}

.share-content > p {
  color: aliceblue;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 5px;
}

.down-arrow {
  margin: auto;
  width: 20px;
  border-style: solid;
  border-width: 20px;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}
